/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
#slider-1 {
  background: url(./assets/img/slider/13.jpg);
}
#slider-2 {
  background: url(./assets/img/slider/11.jpg);
}
#slider-3 {
  background: url(./assets/img/slider/12.jpg);
}
